/* -------- FONTS --------- */
/* mac font height (is set to 1.45 by default) */
/* RStudio 1.3.* */
.macintosh .GJQ3LUQCBW,
.macintosh .GJQ3LUQCBW td,
.macintosh .GJQ3LUQCBW pre {
	line-height: 1.25;
}

/* RStudio 1.2.5555 */
.macintosh .GD15MCFCAW,
.macintosh .GD15MCFCAW td,
.macintosh .GD15MCFCAW pre {
	line-height: 1.25;
}

.rstudio-themes-flat .rstudio-themes-dark .GD15MCFCIU,
.rstudio-themes-flat .rstudio-themes-dark .GD15MCFCPT {
	color: #ffffff;
	text-shadow: none;
	font-weight: 400;
	font-family: Roboto, "Lucida Grande", serif;
	font-size: 11px;
}

.rstudio-themes-flat.rstudio-themes-dark-menus .search input {
	font-family: Roboto, "Lucida Grande", serif;
}

/* general app items */
.rstudio-themes-flat,
.rstudio-themes-dark .GD15MCFCJU,
.rstudio-themes-flat .rstudio-themes-dark .GD15MCFCJU button {
	font-family: Roboto, "Lucida Grande", serif;
	/* font-size: 1.1em; */
}

/* editor location */
.rstudio-themes-flat.editor_dark h1,
.rstudio-themes-flat.editor_dark h2,
.rstudio-themes-flat.editor_dark h3,
.rstudio-themes-flat.editor_dark h4 {
	color: #ffffff !important;
	background: none !important;
	border-color: #6a6a6a !important;
	font-family: Roboto, "Lucida Grande", serif;
}


/* ------ MAIN ------- */

/* wrapper around four panes */
body.rstudio-themes-flat .rstudio-themes-dark-grey {
	background: #2c2c2c !important;
}

.rstudio-themes-flat>.rstudio-themes-dark,
.rstudio-themes-flat>.rstudio-themes-dark :-webkit-any(.gwt-TabLayoutPanel, .gwt-TabLayoutPanelContent) {
	background: #2c2c2c !important;
}

/* containers */
.rstudio-themes-flat>.rstudio-themes-dark :-webkit-any(.windowframe, .rstheme_minimizedWindowObject)>div:last-child {
	border: 1px solid #0a0a0a !important;
}

/* panel dividers */
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-HDragger,
.rstudio-themes-flat .rstudio-themes-dark-grey .gwt-SplitLayoutPanel-VDragger {
	background-color: #282828 !important;
}

.GD15MCFCGP .gwt-TabLayoutPanelContentContainer {
	background: #3c3c3c40;
	border: 1px solid #0a0a0a;
}

.GD15MCFCGP .gwt-TabLayoutPanelTab:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid #0a0a0a;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #0a0a0a;
}

/* main toolbar */
.rstudio-themes-dark>div:last-child>div>div>.rstheme_toolbarWrapper,
.rstudio-themes-dark [role="application"]>div>.rstheme_toolbarWrapper {
	background-color: #2c2c2c !important;
	border-color: #2c2c2c !important;
	border-radius: 1px solid;
}

/* toolbars */
.rstudio-themes-dark .rstheme_toolbarWrapper,
.rstudio-themes-dark .rstheme_secondaryToolbar {
	background-color: #3b3b3b !important;
	border-color: #3b3b3b !important;
}

/* other toolbars */
.rstudio-themes-dark .rstudio-themes-background {
	--color: #3b3b3b;
	background-color: var(--color) !important;
	border-top-color: var(--color) !important;
	border-bottom-color: var(--color) !important;
}

/* tabs container */
.rstudio-themes-dark .gwt-TabLayoutPanelTabs,
/* windows */
.rstudio-themes-dark .windowframe,
/* gradients */
.rstudio-themes-dark :-webkit-any(.rstheme_multiPodUtilityTabArea,
	.GD15MCFCCS,
	.GJQ3LUQCCS) {
	background: linear-gradient(to right, #282828, #1e1e1e 20%) !important;
	border-color: #0a0a0a !important;
}

/* scrollbars */
/*
::-webkit-scrollbar {
  height: calc(17px * 10 / 16) !important;
  width: 10px !important;
}
::-webkit-scrollbar-thumb {
  border: none !important;
  border-radius: 0 !important;
  background-color: #1e1e1e !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b3b3b !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: #282828!important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-track:vertical {
  box-shadow: inset 1px 0 0 0 var(--separator);
}

*/
.rstudio-HyperlinkLabel {
	color: #8be9fd;
}

/* Console Pane (without any other tabs) */
.rstudio-themes-flat .rstudio-themes-dark-grey .GD15MCFCKV.GD15MCFCPO div.GD15MCFCMO .GD15MCFCIS {
	background-color: #2c2c2c !important;
	border-color: #0a0a0a !important;
}

.rstudio-themes-flat .GJQ3LUQCLV.GJQ3LUQCPO div.GJQ3LUQCMO .GJQ3LUQCIS {
	margin-right: 0;
	margin-bottom: 2px;
	border-bottom: solid 1px #0a0a0a;
	background-color: #2c2c2c !important;

}

/* Console Pane top border (without any other tabs) */
.rstudio-themes-flat .rstudio-themes-dark-grey .GD15MCFCKV.GD15MCFCPO div.GD15MCFCMO .GD15MCFCIS,
.rstudio-themes-flat .rstudio-themes-dark-grey .GD15MCFCKV.GD15MCFCPO,
.rstudio-themes-flat .rstudio-themes-dark-grey .GJQ3LUQCLV.GJQ3LUQCPO {
	border-color: #0a0a0a !important;
}


/* tabs */
.rstudio-themes-dark .gwt-TabLayoutPanelTab:not(.gwt-TabLayoutPanelTab-selected) .rstheme_tabLayoutCenter,
.rstudio-themes-dark .rstheme_minimizedWindowObject .rstheme_center {
	background-color: #303030 !important;
	color: #9aa0a6 !important;
	border-color: #0a0a0a !important;
	cursor: pointer;
}

.rstudio-themes-dark .gwt-TabLayoutPanelTab .gwt-Label {
	cursor: pointer;
}

/* active tab */
.rstudio-themes-dark .gwt-TabLayoutPanelTab.gwt-TabLayoutPanelTab-selected .rstheme_tabLayoutCenter {
	background-color: #3b3b3b !important;
	color: white;
	border-color: #0a0a0a !important;
}

/* datagrid */
.rstudio-themes-dark .dataGridHeader,
.rstudio-themes-dark tr[__gwt_header_row]> :-webkit-any(td, th),
.rstudio-themes-dark .dataTables_info {
	background-color: #2c2c2c !important;
	border-color: #0a0a0a !important;
}

/* data table */
.rstudio-themes-dark .dataTable :-webkit-any(th, .first-child) {
	background-color: #2c2c2c !important;
}

.rstudio-themes-dark .dataTable :-webkit-any(th, td, tr) {
	border-color: silver !important;
}

.rstudio-themes-dark .dataTable tbody>tr:hover>td {
	background-color: #2c2c2c !important;
}


/* search menus */
.rstudio-themes-flat .rstudio-themes-dark .search,
.rstudio-themes-flat.rstudio-themes-dark-menus .search {
	border-color: #0a0a0a;
	background: #141414;
}

/* buttons */
.rstudio-themes-flat .rstudio-themes-dark button.GJQ3LUQCC1>table:first-child {
	border-color: #444444;
	background: #777777;
}

.rstudio-themes-flat.rstudio-themes-dark-menus:-webkit-any(.gwt-MenuItemSeparator,
	.menuSeparatorInner) {
	border-color: #3c3c3c;
}

/* autocomplete */
.rstudio-themes-flat.rstudio-themes-dark-menus .ace_editor.ace_autocomplete {
	background: #3c3c3c;
	border: solid 1px #0a0a0a !important;
	color: #f0f0f0;
}

.rstudio-themes-flat.rstudio-themes-dark-menus .menuPopupMiddleCenter,
.rstudio-themes-flat.rstudio-themes-dark-menus .themedPopupPanel .popupMiddleCenter,
.rstudio-themes-flat.rstudio-themes-dark-menus .gwt-SuggestBoxPopup .suggestPopupMiddleCenter {
	background: #232323;
	border: solid 1px #3e3e3e;
	color: #f0f0f0;
}

.rstudio-themes-flat.rstudio-themes-dark-menus .GJQ3LUQCIVB {
	color: #eaeaea;
	background: #444444;
	border: 1px solid #3e3e3e;
}

.rstudio-themes-flat.rstudio-themes-dark-menus .GJQ3LUQCPUB {
	background: #444444;
}

.rstudio-themes-flat.rstudio-themes-dark-menus .ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line,
.rstudio-themes-flat.rstudio-themes-dark-menus .ace_editor.ace_autocomplete .ace_marker-layer .ace_line-hover {
	background: rgba(255, 255, 255, 0.15);
	border: none;
}